@model Cadastro
@{
    ViewData["Title"] = "Perfil";
}

<div class="container">
    <div class="infos-perfil">
        <div class="foto-perfil">

        </div>
        <div class="info">
            <p>Username</p>
            <div class="seguidores">
                <p>publicações</p>
                <p>seguindo</p>
                <p>seguidores</p>
            </div>
            <div class="usuario">
                <h5>Enzzo Lima<!--Nome do perfil--></h5>
                <a href="#">Sair</a>
                <a href="#">Editar perfil</a>
            </div>
        </div>
    </div>
    <div class="publicacoes">
        <h4>PUBLICAÇÕES</h4>
        <div class="publicacao">
            <div class="imagem">

            </div>
            <div class="info-publicacao">
                <a href="#"><!--imagem--></a>
                <p>Enzzo Lima<!--NomeCompleto--></p>
            </div>
             <div class="info-post">
                <a href="#"><img src="../images/heart.svg" alt=""></a>
                <a href="#"><img src="../images/Comentarios.svg" alt=""></a>
             </div> 
            <div class="section-comentarios">
                <h6>Comentários</h6>
                <div class="comentarios">
                    <a href="#"><!--Nome do perfil--></a><p><!--Comentário da pessoa--></p>
                </div>
            </div>
        </div>
    </div>
</div>