@model Cadastro 
@{
    ViewData["Title"] = "Perfil";
}

<header>
        <div class="logo"><img src="../images/Instadev.svg" alt=""></div>
        <div class="search-box">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
            <input type="search" name="pesquisar" id="pesquisa" placeholder="Pesquisar"><i class="bi bi-search"></i>
        </div><!--barra de pesquisa-->
        <div class="info-perfil">
            <ul class="icons">
                <li><a href="../Publicacao"><img src="../images/house.svg" alt=""></a></li>
                <li><a href="#"><img src="../images/plane 1.svg" alt=""></a></li>
                <li><a href="#"><img src="../images/compass 1.svg" alt=""></a></li>
                <li><a href="#"><img src="../images/heart.svg" alt=""></a></li>
                <li onclick="botaoMenu()" class="perfil2"><a  class="perfil" href="../Perfil"></a></li>
                <ul class="menu-perfil" id="menu-perfil">
                    <li><a href="../Perfil">Perfil</a></li>
                    <li><a asp-controller="Login" asp-action="Logout">Sair</a></li>
                </ul>
            </ul>          
        </div>

</header>

<div class="container">
    <div class="infos-perfil">
        <div class="foto-perfil">

        </div>
        <div class="info">
                <p>@ViewBag.User</p>     

                <div class="seguidores">
                    <p> 0 Publicações</p>
                    <p> 0 Seguindo</p>
                    <p> 0 Seguidores</p>
                </div>
                <div class="usuario">
                    <h5>@ViewBag.UserName<!--Nome do perfil--></h5>
                    <a asp-controller="Login" asp-action="Logout">Sair</a>
                    <a asp-controller="Editar" asp-action="">Editar perfil</a>
                </div>
        </div>
    </div>
    <div class="publicacoes">
       <h4>PUBLICAÇÕES</h4>
            <div class="publicacao">
                <div class="imagem">
                   
                </div>
                <div class="info-publicacao">
                        <div class="imagemperfilpublicacao">

                        </div>
                        <div class="nomeelocalizacao">
                            <p>wall<!--NomeCompleto--></p>
                            <a href="#"><p>São Paulo, Brasil<!--Localização--></p></a>
                        </div>
                        <div class="icons-publicacao">         
                                <img src="../images/heart.svg" alt="Curtir">
                                <img src="../images/Comentarios.svg" alt="Comentarios">
                        </div>
                        <div class="curtidas">
                            <p>200 Curtidas</p>
                        </div>
                        <div class="comentarios">
                            <div class="comentarios-pessoas">
                                <a href="#">fausto_silva<!--nome de usuarios--></a>
                                <p>Oloco bixo!<!--comentario de algum usuario--></p>
                                <img src="../images/heart.svg" alt="Curtir">
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div><!--Container-->