<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev_Projeto_1DM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
   <header>
        <div class="logo"><img src="../images/Instadev.svg" alt=""></div>
        <div class="search-box">
            <input type="search" name="pesquisar" id="pesquisa" placeholder="Pesquisar">
        </div><!--barra de pesquisa-->
        <div class="info-perfil">
            <a href="#"><img src="../images/house.svg" alt=""></a>
            <a href="#"><img src="../images/plane 1.svg" alt=""></a>
            <a href="#"><img src="../images/compass 1.svg" alt=""></a>
            <a href="#"><img src="../images/heart.svg" alt=""></a>
            <a class="perfil" href="../Perfil"></a>
            
        </div>
    </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
