@model Usuario
@{
    ViewData["Title"] = "Edição de perfil";
}

<header>
        <div class="logo"><img src="../images/Instadev.svg" alt=""></div>
        <div class="search-box">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>
            <input type="search" name="pesquisar" id="pesquisa" placeholder="Pesquisar"><i class="bi bi-search"></i>
        </div><!--barra de pesquisa-->
        <div class="info-perfil">
            <ul class="icons">
                <li><a href="../Publicacao"><img src="../images/house.svg" alt=""></a></li>
                <li><a href="#"><img src="../images/plane 1.svg" alt=""></a></li>
                <li><a href="#"><img src="../images/compass 1.svg" alt=""></a></li>
                <li><a href="#"><img src="../images/heart.svg" alt=""></a></li>
                <li onclick="botaoMenu()" class="perfil2"><a  class="perfil" href="../Perfil"></a></li>
                <ul class="menu-perfil" id="menu-perfil">
                    <li><a href="../Perfil">Perfil</a></li>
                    <li><a asp-controller="Login" asp-action="Logout">Sair</a></li>
                </ul>
            </ul>          
        </div>

</header>

    <section class="editar-perfil">
            <div class="content">

                <div class="texto-editar" >
                    <div class="texto-editar-perfil">
                        <h1>Editar Perfil</h1>
                    </div>
                </div>
                <aside class="editar">
                    <form method="POST" action='@Url.Action("Alterar")' enctype="multipart/form-data">
                    <div class="perfil">
                        <div class="conteudo alinhar-esquerda">
                            <img src="img/thank-you 2.png" alt="">

                            </div>

                            <div class="texto">
                                <h2>yes_baby</h2>                           
                               
                                <div class="file-input">
                                    <input type="file" name="Foto" id="Foto" class="file">
                                    <label class="alterar" for="Foto">Alterar foto do perfil</label>
                                </div>                              
                                
                            </div>

                        </div>
                    </div>

                    
                        <div class="nome">
                            <div class="conteudo alinhar-esquerda">
                                <h2>Nome</h2>
                                <div class="preencher-nome">
                                    <input type="text" class="input-nome" placeholder="" name="Nome">
                                    <div>
                                        <p>Ajude as pessoas a descobrir sua conta usando o nome pelo qual você é conhecido: seu nome completo, apelido ou nome comercial.</p>
                                        <p>Você pode alterar o seu nome apenas duas vezes a cada 14 dias.</p>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="nome-usuario">
                            <div class="conteudo-usuario alinhar-esquerda">
                                <h2>Nome de Usuário</h2>
                                <div class="preencher-usuario">
                                    
                                        <input name="Username" type="text" class="input-nome-usuario" placeholder="">
                                        <div>
                                            <p>Na maioria dos casos, você poderá alterar seu nome de usuário novamente para nascimento_tr por mais 14 dias.</p>
                                            <p>Informações pessoais </p>
                                            <p>Forneça suas informações pessoais, mesmo se a conta for usada para uma empresa, um animal de estimação ou outra coisa. Elas não farão parte do seu perfil público.</p>
                                        </div>
                                    
                                </div>

                            </div>
                        </div>

                        <div class="email">
                            <div class="conteudo">
                                <div class="endereco-email">
                                    <h2>E-mail</h2>
                                    
                                        <input name="Email" type="email" class="input-email" placeholder="yes_baby@gmail.com">
                                    
                                </div>
                                <aside class="desativar-conta">
                                    <div class="botao-enviar">
                                        <button type="submit" class="botao-alterar">Enviar</button> 

                                    </div>
                                    <div class="botao-desativar">
                                       <a class="navbar-brand" asp-area="Link para deletar a conta" asp-controller="Cadastro" asp-action="Excluir">Desativar minha conta definitivamente</a>

                                    </div>
                                </aside>
                            </div>
                        </div>
                    </form>

                </aside>