@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');


/*Váriaveis Globais*/

/*Váriaveis Globais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: #ffffff;
}

.container{
    width: 30%;
    margin: 50px auto;
}

/*Header*/
header{
    display:flex;
    justify-content:space-around;
    width: 100%;
    height:70px;
    border: 1px solid rgb(209, 206, 206);
}
.logo{
    margin-top:15px;
}
.logo img{
    width: 120px;
    height: auto;
}
.search-box{
    margin-top:25px;
}
input[type=search]{
    width: 200px;
    height: 25px;
    border: 0.5px solid rgb(202, 202, 202);
    font-size:14px;
    padding-left: 70px;
    border-radius: 3px;
}
.info-perfil{
    width: 300px;
    height: 70px;
    margin-top:20px;
}

.info-perfil > a{
    cursor: pointer;
}

.icons{
    display:flex;
}

.icons li{
    margin: 0 15px;
    list-style: none;
}
/* 
.perfil{
    width:50px;
    height: 10px;
    
} */

.perfil2{
    width:25px;
    height: 25px;
    border-radius:13px;
    border: 3px solid black;
    padding: 3px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.menu-perfil{
    width:150px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top:50px;
    margin-left: -80px;
}

.menu-perfil li{
    padding: 10px 20px;
}

/*Tela de cadastro*/
.formulario{
    width: 470px;
    height: 760px;
    background: white;
    border: 1px solid rgb(219, 219, 219);
    margin: 0 auto;
}

.formulario img{
    width: 150px;
    height: 60px;
    margin: 20px 150px;
}

.formulario h5{
    font-size: 16px;
    color: rgb(163, 163, 163);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario > form{
    margin-top: 30px;
}

.formulario > form > input[type=email],[type=text],[type=password]
{
    width: 300px;
    height: 50px;
    margin: 20px 85px;
    border:1px solid rgb(179, 179, 179);
    background-color: rgb(228, 227, 227);
    padding: 0 10px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario > form > button{
    width: 300px;
    height: 50px;
    margin: 20px 85px;
    background-color: #2686CC;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario > form > button:hover{
    background-color: #5b9aec;
}

.formulario h6{
    font-size: 14px;
    margin-top: 30px;
    color: rgb(163, 163, 163);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jatemconta{
    width: 470px;
    height: 70px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    margin: 30px auto;
}

.jatemconta p{
    color: rgb(139, 139, 139);
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jatemconta a{
    text-decoration: none;
}

.app{
    width: 470px;
    height: 90px;
    margin: 20px auto;
    background-color: white;
}

.app p{
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 2%;
}

.app img{
    width: 120px;
    height: 50px;
    margin-left: 80px;
}
/*Tela de cadastro */

/*Tela de perfil */

.infos-perfil{
    width:900px;
    height:200px;
    display:flex;
    margin: 0 auto;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.foto-perfil{
    display:flex;
    width:150px;
    height:150px;
    border-radius: 50%;
    background-color:black;
    margin-left: 25px;
    margin-top:25px;
}


.info{
    width: 200px;
    height: auto;
    display:flex;
    margin-left: 20px;
    margin-top: 25px;
    flex-direction: column;
}

.info > p{
    font-size:20px;
    font-weight:bold;
    padding: 0 15px;
}

.info h5{
    font-size: 16px;
}

.seguidores{
    margin-top:15px;
    display: flex;
}

.seguidores p{
    padding: 0 15px;
    cursor: pointer;
}

.usuario{
    width: 300px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.usuario a{
    margin: 0 20px;
    cursor: pointer;
}

.publicacoes{
    height: auto;
    margin: 70px auto;
}

.publicacoes h4{
    text-align: center;
    font-size: 16px;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    color: black;
}


.publicacao{
    display:flex;
    width:900px;
    height:400px;
    margin-top:60px;
    border: 1px solid rgb(185, 185, 185);
}

.imagem{
    width:400px;
    height:400px;
    background-color: black;
}

.info-publicacao{
    width: 500px;
    max-width: 500px;
    height: 80px;
    margin-left: 70px
}

.imagemperfilpublicacao{
    width: 50px;
    height: 50px;
    background-color:black;
    border-radius: 40px;
    position: relative;
    top: 37px;
    right:7px;
}

.nomeelocalizacao{
    display:flex;
    flex-direction: column;
    margin-left: 57px;
}

.nomeelocalizacao > p{
    margin-top:-15px;
    font-weight:bold;
}

.nomeelocalizacao a{
    margin-top: -16px;
}

.icons-publicacao{
    margin-top:20px;
}

.icons-publicacao img{
    cursor:pointer;
}

.comentarios{
    margin-top:50px
}

.comentarios-pessoas{
    display:flex;
}

.comentarios-pessoas a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.comentarios-pessoas a:hover{
    color: black;
    text-decoration: underline;
}

.comentarios-pessoas p{
    margin-left: 15px;
}
    
.comentarios-pessoas img{
    margin-left:200px;
    cursor: pointer;
}
/*Tela de perfil*/


    
